
#posta > form > input {
    font-size: 1em;
    display: inline;
    padding: 0em;
}

input {
    font-size: 1em;
    margin-top: 1em;
}

.inline-reply  form {
    margin-left: 1em;
    font-size: 1em;
}

.inline-reply {
    display: none;
}
.inline-reply > form > input {
    display: inline;
}

.tbd {
    background: #5E9E01;
}


#adage {
    margin: .5em 0em .5em 1em;
    color: grey;
}


#hd {
    padding: .5em 0em .5em 1em;
    background: #357721;
}

#awesomecloud span a {
    color: #ddd;
    margin: 0em .25em 0em 0em;
}

#awesomecloud span:after {
    content: " ";
}

#awesomecloud {
    background: #357721;
    padding: .25em 0em .250em 1em;
}

#awesomecloud .activetag a {
    color: white;
    font-weight: bold;
}


#subhead {
    background: #5e9e01;
}

.tab li {
    margin: 0em 0em 0em .5em;
    padding: .25em 0em .25em .5em;
    display: inline;
}


.up {
    margin: 0em .5em 0em 0em;
}


.simple {
    margin: 0em;
}

.voteinfo, .ago, .pts {
    margin: 0em;
    color: #aaaaaa;
}

.ago {margin-left: 0em;}
.pts {margin: 0em 0em 25em 0em .5em;}


#text-logo {
    color: #ffffff;
    font-weight: bold;
    margin: 0em .5em 0em 0em;
}

#arrow {
    color: white;
    font-weight: bold;
    margin: 0em .5em 0em 0em;
}

.reply {
    margin: 0em .5em 0em .5em;
}


a {
    color: #5e9e01;
}

h1 {
    
    color: white;
    font-size: 1.5em;
    margin: 0em 0em 0em .6666em;
}


#posta {
    margin: 0em 0em 0em 1em;
}


.explanation {
    font-family: 'Lucida Grande';
    color: #333333;
    font-size: 1em;
}

#doc {
    padding: 0em;
    margin-top: 0em;
    margin-right: auto;
    margin-left: auto;
}

ul {
    margin-left: 1em;
    padding: 0em;
}

ul li {
    list-style-type: none;
}

li {
    margin: 1em 0em 1em 0em;
}


#header {
    margin: 1em;
    font-size: 1.5em;    
}
a {
    text-decoration: none;
    //color: #3e5e01;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: Helvetica; sans-serif;
    margin: 0em;
}


#requests textarea {
    font-size: 1em;
}


#indexft  ul  li {
    display: inline;
}


#ft {
    padding: .25em .5em;
    background: #357721 none repeat scroll 0 0;
}

#ft  ul  li {
    display: inline;
}

#ft ul li a {
    padding: 0em .5em;
    color: white;
}


