#requests {
    margin: 1em;
    max-width: 30em;
}


.simple {
    margin: 0em;
}

.ago {
    margin-left: .5em;
    margin-right: .0em;
    color: #aaaaaa;
}

#indexhd {
    text-align: center;
}


#text-logo {
    color: #ffffff;
    font-weight: bold;
}

.reply {
    margin-left: .5em;
}


a, h1 {
    color: #5e9e01;
}

#hd {
    background: #5e9e01;
    padding: .25em 1em;
}

#posta {
    float: right;
}

.explanation {
    font-family: Helvetica,sans-serif;
    color: #333333;
    font-size: 1em;
}
#doc, #docindex {
    padding: 0em;
    margin-top: 0em;
}

#docindex {
    text-align: center;
}

img {
    border: none;
    margin: 0em 0em 0em 0em;
}

#elephant-holder {
    text-align: center;
}




input {
    margin-top: 1em;
}

div > .reply-link {
    font-size: 1em;
}

ul {
    margin-left: 1em;
    padding: 0em;
}

ul li {
    list-style-type: none;
}

li {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    max-width: 30em;
}


#header {
    margin: 1em;
    font-size: 1.5em;    
}
a {
    text-decoration: none;
    //color: #3e5e01;
}

a:hover {
    text-decoration: underline;
}

#welcome {
    float: right;
    position: absolute;
    right: 0px;
}


body {
    font-family: Helvetica; sans-serif;
    margin: 0em;
}


#requests textarea {
    font-size: 1em;
}

.text-input {

    width: 100%;
}



#indexft  ul  li {
    display: inline;
}

#indexft ul li a {
    padding: 0em .5em;
}

#ft {
    padding: .25em .5em;
    background: #5E9E01 none repeat scroll 0 0;
}

#ft  ul  li {
    display: inline;
}

#ft ul li a {
    padding: 0em .5em;
    color: white;
}
